.button-container {
  text-align: center;
}

.button-container .btn {
  background-color: #facf5a;
  color:  #1c7293;
  border-color: #1c7293;
  padding: 5px;
  border-radius: 4px;
  width: 15%;
}

.button-container .btn:hover {
  background-color: #1c7293;
  color: #facf5a;
}
