footer {
  color: whitesmoke;
  background-color: #24262b;
  margin: 45px 0 0 0;
}

footer .container {
  padding: 40px 60px;
}

footer .row {
  display: flex;
  flex-wrap: wrap;
}

footer ul {
  margin-left: -30px;
}

footer .col h5 {
  font-size: 18px;
  margin-bottom: 25px;
  font-weight: 500;
}

footer .col h5 span {
  color: var(--primary-color);
  padding-left: 26px;
}

footer .col a {
  color: whitesmoke;
  font-size: 16px;
  text-decoration: none;
  font-weight: 300;
  transition: all 0.3s ease;
  line-height: 30px;
}

footer .col a:hover {
  color: var(--primary-color);
  padding-left: 8px;
}