.job {
  margin: 5px;
}

.job-content {
  display: flex;
  justify-content: space-around;
}

.job-content span {
  margin-top: 10px;
}

.job-content p {
  color: var(--secondary-color);
}

.job .delete-button {
  width: 35px;
  height: 32px;
  border-radius: 5px;
  color: var(--primary-color);
  background-color: black;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 4px 2px 2px lightgrey;
  line-height: 0;
}

.delete-button:hover {
  opacity: 0.6;
  color: whitesmoke;
}

/*
.checkbox {
  --size: 0.75em;
  display: inline-block;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  margin-right: var(--size);
  margin-left: 7px;
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}

[type="checkbox"]:focus + label .checkbox {
  transform: scale(1.2);
}

[type="checkbox"]:checked + label .checkbox.ka {
  background: #1c7293;
  border: #1c7293;
  box-shadow: inset 0 0 0 2px white;
}

[type="checkbox"]:checked + label .checkbox.no {
  background: red;
  border: red;
  box-shadow: inset 0 0 0 2px white;
}

[type="checkbox"]:checked + label .checkbox.yes {
  background: green;
  border: green;
  box-shadow: inset 0 0 0 2px white;
}

*/
