.job {
  margin: 5px;
}

.job-content {
  display: flex;
  justify-content: space-around;
}

.job-content span {
  margin-top: 10px;
}

.job-content p {
  color: var(--secondary-color);
}

.job .delete-button {
  width: 35px;
  height: 32px;
  border-radius: 5px;
  color: var(--primary-color);
  background-color: black;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 4px 2px 2px lightgrey;
  line-height: 0;
}

.delete-button:hover {
  opacity: 0.6;
  color: whitesmoke;
}
