input {
  border: none;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  padding-left: 10px;
  border: 1px solid lightblue;
}

.input-container {
  display: flex;
}

.input-container button {
  margin-left: 20px;
  color: #facf5a;
}

.delete-button button {
  width: 50px;
  height: 47px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  color: #facf5a;
  background-color: black;
  cursor: pointer;
}

.delete-button button:hover {
  background-color: whitesmoke;
  color: black;
}

.job {
  width: 500px;
  margin: 15px;
  display: flex;
}

.job-content {
  flex: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-content span {
  display: grid;
  place-items: center;
  font-size: 28px;
  width: 100%;
  height: 100%;
}

/*
.job-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
*/