.list-gallery {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  margin-bottom: 50px;
}

.new .list-creator {
  background: transparent;
  border: 0;
  outline-color: #facf5a;
  order: 2;
  padding: 0.5rem;
}

.new .list-creator:focus::placeholder {
  opacity: 0.2;
}

