progress[value] {
  // Reset the default appearance
  -webkit-appearance: none;
  appearance: none;
  width: 250px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  margin-bottom: 5px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: #facf5a;
  border-radius: 5px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}