h1 {
  font-size: 50px;
  color: #1c7293;
}

p {
  font-size: 22px;
}

ul {
  color: #5d697a;
  list-style-type: none;
  font-size: 18px;
}

.header {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}