:root {
  --primary-color: #facf5a;
  --secondary-color: #1c7293;
  --tertiary-color: #5d697a;
}

h1 {
  font-size: 52px;
  color: var(--secondary-color);
  margin-bottom: 15px;
}

ul {
  color: var(--tertiary-color);
  list-style-type: none;
}

.header {
  text-align: center;

  p {
    font-size: 22px;
  }
}